header {
    background-color: var(--bg-color);
    color: var(--color);
    padding: 10px 10px;
    height: 55px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}


.info a {
    text-decoration: none;
    color: hsl(0, 0%, 0%);
    margin-right: 80px;
}

header img {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-right: 6px;
    width: 52px;
}

.info {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.user-profil {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

}

.user-profil .user-info {
    display: flex;
    flex-direction: column;
    text-align: left;
    color: #000;
    font-size: 12.5px;
    margin-right: 20px;
}

.user-profil .user-info p:first-child {
    font-weight: 900;
    font-size: 18px;
}

.user-profil .user-info p:last-child {
    font-weight: 400;
    color: #333333;
}